* {
    --hover: rgba(19, 141, 185, 0.5);
    --selected: rgba(39, 238, 245, 0.8);
    --background: rgb(18, 24, 31);
    --content: rgb(58, 58, 61);
    --lightbg: rgb(90, 89, 92);
    --header: rgb(39, 44, 58);
    --lightText: rgb(183, 189, 214);
    --optionBG: rgb(68, 68, 75);
}
body {
    background-color: var(--background);
}
.bodyDiv {
    display: flex;
    justify-content: center;
}
.content {
    min-width: 1130px;
    max-width: 1130px;
    min-height: 1000px;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: var(--content);
    border-radius: 10px;
}
.header {
    min-height: 50px;
    background-color: var(--header);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1 {
    color: var(--lightText);
    padding-left: 10px;
}
.userInput {
    padding-right: 10px;
    color: var(--lightText);
    font-weight: bold;
}
.display {
    margin: 25px;
    display: flex;
    justify-content: center;
}
.interface {
    min-width: 50%;
    max-width: 50%;
    min-height: 863px;
    border: 2px solid var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--content);
    overflow: clip;
}
.interfaceHeader > *, p {
    min-width: 100%;
    margin: 0px;
    align-content: center;
    margin-right: 15px;
}
.interfaceHeader {
    min-height: 25%;
    background-color: rgba(0,0,0,.2);
    border-bottom: 1px solid black;
}
.displayInput p, .displayOutput p {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--lightText);
    font-size: x-large;
}
#valueX, #operator, #output, #valueY {
    padding-right: 5px;
}
#equate {
    padding-right: 15px;
}

.invisible {
    visibility: hidden;
    display: none;
}
.displayInput {
    min-height: 33%;
    max-height: 33%;
}
.displayOutput {
    min-height: 67%;
    max-height: 67%;
}
#input {
    padding-right: 17px;
}
.displayOutput p {
    font-size: 100px;
}
.tooltip {
    visibility: hidden;
    position: relative;
    bottom: 30px;
    right: 53px;
    z-index: 1;
    background-color: black;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    
}
#Clear:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.displayBody {
    margin-top: 10px;
}
.buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    column-gap: 15px;
    row-gap: 15px;;
    margin-left: 15px;
    margin-right: 15px;
}
.buttonGrid #Calc {
    grid-column: 1/5;
}
.buttonGrid button {
    padding: 43px;
    background-color: var(--lightbg);
    color: var(--lightText);
    font-size: larger;
}
#Calc {
    padding: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
}
#Clear {
    background-color: unset;
    border: unset;
    color: var(--lightText);
    font-size: large;
    margin-left: 15px;
}
button:hover {
    cursor: pointer;
}